/* You can add global styles to this file, and also import other style files */
	  html, body {
		-webkit-box-sizing: border-box!important;
		-moz-box-sizing: border-box!important;
		box-sizing: border-box!important;
		/* font-family: "roboto", "Cambria"; */
		margin:0px!important;
		padding:0px!important;
        overflow-x: hidden!important;
        background-color: #F0F4F4;
	
      }
      * {
		margin:0px;
		padding:0px;
	  }
	  *, *:before, *:after {
		-webkit-box-sizing: border-box!important;
		-moz-box-sizing: border-box!important;
		box-sizing: border-box!important;
		}